.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.25rem, 2vw, 2rem);
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
}

/* .word {
  display:inline-table;
} */