* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000115;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.cursor {
  z-index: 999;
  position: fixed;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow:
    0 0 20px #2696e8,
    0 0 60px #2696e8,
    0 0 100px #2696e8;
  animation: colors 5s infinite;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
    box-shadow:
      0 0 20px #06ff30,
      0 0 60px #2696e8,
      0 0 100px #2696e8;
  }
  50% {
    filter: hue-rotate(180deg);
    box-shadow:
      0 0 20px #d70808,
      0 0 60px #2696e8,
      0 0 100px #2696e8;
  }
  100% {
    filter: hue-rotate(360deg);
    box-shadow:
      0 0 20px #d70808,
      0 0 60px #2696e8,
      0 0 100px #2696e8;
  }
}

.cursor:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #2696e8;
  border-radius: 50%;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  transition: 0.1s;
}
